﻿@model custom_study_plan_generator.Models.Student

@{
    ViewBag.Title = "Delete";
}

<div class="prerequisitesIndexCRUDHeading">

    <h3 class="CRUDFont">Delete</h3>

    <h4 class="CRUDFont">Are you sure you want to delete this student?</h4>
    <div>
        <hr />
        <dl class="dl-horizontal">
            <dt class = "CRUDFont prequisitecreatetitle">
                First Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.firstname)
            </dd>

            <dt class="CRUDFont prequisitecreatetitle">
                Surname
            </dt>

            <dd>
                @Html.DisplayFor(model => model.lastname)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input class="prerequisiteCRUDCreateButton CRUDFont btn btn-default" type="submit" value="Delete" />
            </div>
            <div class="prerequisitesCRUDCreateBack">
                @Html.ActionLink("Back to List", "Index", null, null, new { @class = "prerequisitesCRUDLink CRUDFont" })
            </div>
        }
    </div>
</div>
