﻿@Scripts.Render("~/Scripts/Create.js")
@using custom_study_plan_generator.MetaObjects

<div class="body">
    <div id="backerDefault" class="backerCP">
        <div id="textDefault" class="textCP">
            <div class="CPcol1 inline">
                <div class="inline">
                    @ViewBag.studentID
                    @ViewBag.studentName
                </div>
                <div class="inline">                    
                    
                </div>
            </div>

            <div class="headingCP pagewideFont inline CPcol2">
                Create Mode
            </div>

            <div class="CPcol3 inline">
                <div class="inline">
                    @if (ViewBag.courseSelected == true)
                    {
                        @ViewBag.courseName
                    }
                </div>
                <div class="inline">

                </div>
            </div>
            <div class="inline CPcol1desc">
                <div>
                    @if (ViewBag.courseSelected == true)
                    {
                        <input id="startSemester" type="checkbox" name="startSemester" value="startSemester" /> @: Mid-Year Intake
                    }
                </div>
                <div>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <button type="submit" class="CPButton" name="back">Back</button>
                    }
                </div>
            </div>
            <div class="pagewideFont CPcol2desc inline">
                Select the course the student will be enrolling in. This new plan will will be created from the default plan for that course.
            </div>
            <div class="inline CPcol3desc">
                @using (Html.BeginForm("CreatePlan", "Home", FormMethod.Get))
                {
                    @Html.DropDownList("courseSelect", (string)ViewBag.listValue);
                    <input type="submit" value="Select" />
                }
                @using (Html.BeginForm("Exemptions", "Home", FormMethod.Post))
                {
                    <input type="hidden" name="startSemester" />
                    <button type="submit" class="CPButton2" name="exemptions" value= "Next" title="Next Step" >Next</button>
                    
                
                }
            </div>

            @{
                List<CoursePlan> studentPlan = (List<CoursePlan>)Session["StudentPlanInitial"];
            }

            <script>

                var numUnits = '@(ViewBag.numUnits)';
                if ('@(studentPlan)' != null) {
                    var studentPlan = JSON.parse('@Html.Raw(Json.Encode(studentPlan))');
                }

            </script>

            <div id="planTable" class="planTable">
                <div class="row1">

                    @{
                        var semesters = ViewBag.numUnits / 4;
                        var header = "";
                    }



                    @for (var h = 1; h <= semesters; h++)
                    {

                        header = "headerPlanTable";
                        if (h == 1)
                        {
                            header = "headerPlanTable" + h;
                        }
                        <div id="topCell" class="inlineGrid planHeader @header">
                            Sem @h
                        </div>
                    }

                </div>

                @if (ViewBag.courseSelected == true)
                {

                    var count = 1;
                    var countRow = 2;
                    var countCell = 1;
                    var countCol = 1;
                    string rowClass = "";
                    string idCell = "";
                    string idCont = "";
                    string col = "";

                    for (var x = 1; x <= ViewBag.numUnits; x++)
                    {

                        rowClass = "row" + countRow;
                        idCell = countCell.ToString();
                        idCont = "p" + countCell;


                        if (count % semesters == 1)
                        {
                            @:<div class="@rowClass">
                                                              countCol = 1;
                        }

                        col = "col";
                        if (countCol == 1)
                        {
                            col = "col" + countCol;
                        }

                        <div id="@idCont" class="inlineGrid @col cell lastRow target planCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>

                        if (count % semesters == 0)
                        {
                            @:</div>
                        countCell = countRow;
                        countRow++;
                        }


                        if (count % semesters != 0)
                        {
                            countCell += 4;
                        }
                        count++;
                        countCol++;
                    }
                }




                else
                {
                    <div class="row2">
                        <div id="p1" class="inlineGrid col1 cell">
                            <div id="1" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p5" class="inlineGrid col cell">
                            <div id="5" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p9" class="inlineGrid col cell">
                            <div id="9" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p13" class="inlineGrid col cell">
                            <div id="13" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p17" class="inlineGrid col cell">
                            <div id="17" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p21" class="inlineGrid col cell">
                            <div id="21" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                    </div>
                    <div class="row3">
                        <div id="p2" class="inlineGrid col1 cell">
                            <div id="2" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p6" class="inlineGrid col cell">
                            <div id="6" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p10" class="inlineGrid col cell">
                            <div id="10" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p14" class="inlineGrid col cell">
                            <div id="14" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p18" class="inlineGrid col cell">
                            <div id="18" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p22" class="inlineGrid col cell">
                            <div id="22" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                    </div>
                    <div class="row4">
                        <div id="p3" class="inlineGrid col1 cell">
                            <div id="3" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p7" class="inlineGrid col cell">
                            <div id="7" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p11" class="inlineGrid col cell">
                            <div id="11" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p15" class="inlineGrid col cell">
                            <div id="15" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p19" class="inlineGrid col cell">
                            <div id="19" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p23" class="inlineGrid col cell">
                            <div id="23" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                    </div>
                    <div class="row5">
                        <div id="p4" class="inlineGrid col1 cell lastRow">
                            <div id="4" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p8" class="inlineGrid col cell lastRow">
                            <div id="8" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p12" class="inlineGrid col cell lastRow">
                            <div id="12" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p16" class="inlineGrid col cell lastRow">
                            <div id="16" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p20" class="inlineGrid col cell lastRow">
                            <div id="20" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                        <div id="p24" class="inlineGrid col cell lastRow">
                            <div id="24" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                            </div>
                        </div>
                    </div>
                }

            </div>

        </div>
    </div>
</div>
