﻿@Scripts.Render("~/Scripts/DefaultPlan.js")

@using custom_study_plan_generator.Models

<!--

    Image References: 
    Mouse Hover Icon: < Campagnoli, Manuel 2013 “File: Pointing hand cursor vector.svg” Wikimedia Commons (Public Domain), Last Accessed 15 November 2015 https://commons.wikimedia.org/wiki/File:Pointing_hand_cursor_vector.svg >
    All other images: Created by Michael Baggott, 2015, Free to use for commercial or non-commercial purposes, able to distribute and/or modify

-->

<div class="body">
    <div id="backerDefault" class="backerCP">
        <div id="textDefault" class="textCP">
            <div class="CPcol1 inline">

                <div class="inline">
                    
                </div>
                <div class="inline">
                    <!-- Avaliable location - top left -->
                </div>
            </div>

            <div class="headingCP pagewideFont inline CPcol2">
                Default Plan
            </div>

            <div class="CPcol3 inline">
                <div class="inline">
                    
                </div>
                <div class="inline">
                    <!-- Available location - top right -->
                </div>
            </div>
            <div class="inline CPcol1desc">
                <div>
                    @using (Html.BeginForm("Index", "Home", FormMethod.Post))
                    {
                        <button type="submit" class="CPButton" name="back">Back</button>
                    }
                </div>
                <div>
                    @using (Html.BeginForm("DefaultPlan", "Home", FormMethod.Get))
                    {
                        @Html.DropDownList("courseSelect", (string)ViewBag.listValue);
                        <input type="submit" value="Select" />
                    }
                </div>
            </div>
            <div class="pagewideFont CPcol2desc inline">
                Create or edit the default plan/path for a course. This plan will reflect the units available for any given course.
            </div>
            <div class="inline CPcol3desc">
                <button id="savePlan" type="button" class="CPButton" name="savePlan" value="savePlan" title="Save the Plan">Save Plan</button><br />
                <button id="resetPlan" type="button" class="CPButton2" name="resetPlan" value="resetPlan" title="Reset the Plan">Reset Plan</button><br />
                <button id="checkPrereqs" type="button" class="CPButton2" name="checkPrereqs" value="checkPrereqs" title="Check Prerequisites">Check Prerequisites</button><br />
                <div id="error2" class="errors"></div>
            </div>

            @{
                List<string> defaultPlanList = (List<string>)Session["DefaultPlanList"];
                List<string> defaultPlanSwap = (List<string>)Session["DefaultPlanSwap"];
                List<string> violatedList = (List<string>)ViewBag.violatedList;
                bool courseSelected = ViewBag.courseSelected;
            }

            <script>

                var numUnits = '@(ViewBag.numUnits)';
                if ('@(defaultPlanList)' != null) {
                    var unitListSelected = JSON.parse('@Html.Raw(Json.Encode(defaultPlanList))');
                }
                if ('@(defaultPlanSwap)' != null) {
                    var defaultPlanSwap = JSON.parse('@Html.Raw(Json.Encode(defaultPlanSwap))');
                }
                if ('@(violatedList)' != null) {
                    var violatedListConverted = JSON.parse('@Html.Raw(Json.Encode(violatedList))');
                }

                var courseSelectedConverted = JSON.parse('@Html.Raw(Json.Encode(courseSelected))');
 
            </script>

            <div id="planTable" class="planTable">
                <div class="row1">

                @{ 
                    var semesters = ViewBag.numUnits/4;
                    var header = "";
                }

                
                
                @for (var h = 1; h <= semesters; h++ )
                {

                    header = "headerPlanTable";
                    if (h == 1)
                    {
                        header = "headerPlanTable" + h;
                    }
                    <div id="topCell" class="inlineGrid planHeader @header">
                        Sem @h
                    </div>
                }

                </div>

                @if (ViewBag.courseSelected == true)
                {

                var count = 1;
                var countRow = 2;
                var countCell = 1;
                var countCol = 1;
                string rowClass = "";
                string idCell = "";
                string idCont = "";
                string col = "";

                for (var x = 1; x <= ViewBag.numUnits; x++ )
                {

                    rowClass = "row" + countRow;
                    idCell = countCell.ToString();
                    idCont = "p" + countCell;


                    if (count % semesters == 1)
                    {
                        @:<div class="@rowClass">
                                                              countCol = 1;
                    }

                    col = "col";
                    if (countCol == 1)
                    {
                        col = "col" + countCol;
                    }

                          <div id="@idCont" class="inlineGrid @col cell lastRow target planCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                          </div>

                    if (count % semesters == 0)
                    {
                        @:</div>
                        countCell = countRow;
                        countRow++;
                    }


                    if (count % semesters != 0)
                    {
                        countCell += 4;
                    }
                    count++;
                    countCol++;
                }
            }

            else
            {
                        <div class="row2">
                            <div id="p1" class="inlineGrid col1 cell">
                                <div id="1" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p5" class="inlineGrid col cell">
                                <div id="5" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p9" class="inlineGrid col cell">
                                <div id="9" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p13" class="inlineGrid col cell">
                                <div id="13" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p17" class="inlineGrid col cell">
                                <div id="17" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p21" class="inlineGrid col cell">
                                <div id="21" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                        </div>
                        <div class="row3">
                            <div id="p2" class="inlineGrid col1 cell">
                                <div id="2" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p6" class="inlineGrid col cell">
                                <div id="6" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p10" class="inlineGrid col cell">
                                <div id="10" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p14" class="inlineGrid col cell">
                                <div id="14" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p18" class="inlineGrid col cell">
                                <div id="18" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p22" class="inlineGrid col cell">
                                <div id="22" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                        </div>
                        <div class="row4">
                            <div id="p3" class="inlineGrid col1 cell">
                                <div id="3" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p7" class="inlineGrid col cell">
                                <div id="7" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p11" class="inlineGrid col cell">
                                <div id="11" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p15" class="inlineGrid col cell">
                                <div id="15" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p19" class="inlineGrid col cell">
                                <div id="19" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p23" class="inlineGrid col cell">
                                <div id="23" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                        </div>
                        <div class="row5">
                            <div id="p4" class="inlineGrid col1 cell lastRow">
                                <div id="4" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p8" class="inlineGrid col cell lastRow">
                                <div id="8" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p12" class="inlineGrid col cell lastRow">
                                <div id="12" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p16" class="inlineGrid col cell lastRow">
                                <div id="16" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p20" class="inlineGrid col cell lastRow">
                                <div id="20" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                            <div id="p24" class="inlineGrid col cell lastRow">
                                <div id="24" class="innerCell active" draggable="true" ondragstart="drag(event)" ondragend="dragend(event)">

                                </div>
                            </div>
                        </div>
            }

                </div>


                <div class="swapSpaceHeader pagewideFont">
                    <div>
                        Unit Swap Space
                    </div>
                </div>
                
                <div class="swapSpaceHolder">
                    <div>
                        <button id="resetSwapSpace" type="button" class="modifyButton" name="resetSwapSpace" value="resetSwapSpace" title="Reset Swap Space">Reset Swap Space</button><br />
                    </div>
                    <div>
                        <button id="addUnit" type="button" class="modifyButton" name="addUnit" value="addUnit" title="Add a Unit">Add Units</button><br />
                    </div>
                    <div>
                        <div>
                            @Html.ListBox("List", ViewBag.unitList as MultiSelectList, new { id = "unitDropDown", style = "width: 40%; height: 150px; font-size: 1vw" })
                        </div>
                    </div>
                </div>

                <div class="planTable">
                    <div class="row1">
                        <div id="ss1" class="inlineGrid col1 cell target swapSpaceCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>
                        <div id="ss2" class="inlineGrid col cell target swapSpaceCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>
                        <div id="ss3" class="inlineGrid col cell target swapSpaceCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>
                        <div id="ss4" class="inlineGrid col cell target swapSpaceCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>
                        <div id="ss5" class="inlineGrid col cell target swapSpaceCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>
                        <div id="ss6" class="inlineGrid col cell target swapSpaceCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>

                    </div>
                    <div class="row2">
                        <div id="ss7" class="inlineGrid col1 cell lastRow target swapSpaceCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>
                        <div id="ss8" class="inlineGrid col cell lastRow target swapSpaceCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>
                        <div id="ss9" class="inlineGrid col cell lastRow target swapSpaceCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>
                        <div id="ss10" class="inlineGrid col cell lastRow target swapSpaceCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>
                        <div id="ss11" class="inlineGrid col cell lastRow target swapSpaceCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>
                        <div id="ss12" class="inlineGrid col cell lastRow target swapSpaceCell" ondragover="allowDrop(event)" ondrop="drop(event, this)">

                        </div>

                    </div>
                    <div id="errors" class="errors"></div>
                </div>

        </div>
    </div>
</div>

<div id="dialog-confirm" title="Delete Unit?">
    <p class="dialogConfirm"><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0"></span>This unit will be deleted from the plan. Are you sure?</p>
</div>

<div id="dialog-unitsnotadded" title="Could Not Add Units">
    <p class="unitsNotAdded"><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0"></span>The following units could not be added:</p>
    <p class="excess">Not Enough Space:</p>
    <ul id="excess" class="excess"></ul>
</div>