﻿@Scripts.Render("~/Scripts/Index.js")

<script src="@Url.Content("~/Scripts/jquery.validate.min.js")" type="text/javascript"></script>
<script src="@Url.Content("~/Scripts/jquery.validate.unobtrusive.min.js")" type="text/javascript"></script> 

<div class="body">
    <div class="backerHome">
        <div class="textHome">
            <div class="headingHome pagewideFont">
                Please select a mode to use
            </div>
            <br>
            <br>
                
            @using (Html.BeginForm("CreateEdit", "Home", FormMethod.Post, new { id = "selectionForm" }))
            {
                @:<div class="modeHolder">
                    @:<div class="pagewideFont inline homeColumn1">
                        @:Student ID
                        @:<br>
                        <div>
                            <input type="text" name="studentIdInput" id = "studentIdInput" />
                        </div>
                        <input type="hidden" name="formInput" />
                        <div id="error3" class="error3"></div>
                    @:</div>
                    <div class="inline homeColumn2">
                        <div>
                            <button id ="createButton" type="button" class="homeButton" name="create" value="create" title="Create Plan">Create</button>
                            Create a new study plan
                        </div>
                        <div class="homeRow2">
                            <button id="editButton" type="button" class="homeButton" name="edit" value="edit" title="Edit Plan">Edit</button>
                            Edit an existing study plan
                        </div>
                    </div>
                    <div class="inline homeColumn3">
                        <button type="button" class="homeButton2 rightAlign" onclick="location.href = '../Students/Index';">Edit Students</button>
                        <button type="button" class="homeButton2 rightAlign" onclick="location.href = '../Courses/Index';">Edit Courses</button>
                        <button type="button" class="homeButton3 rightAlign" onclick="location.href = '../Units/Index';">Edit Units</button>
                        <button type="button" class="homeButton3 rightAlign" onclick="location.href = '../UnitPrerequisites/Index';">Edit Prerequisites</button>
                        <button type="button" class="homeButton3 rightAlign" onclick="location.href = '../Home/DefaultPlan';">Default Plans</button>
                    </div>
                @:</div>
            }   
        </div>
    </div>
</div>

<div id="dialog-confirm" title="Overwrite Plan?">
    <p class="dialogConfirm"><span class="ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0"></span>This student has an existing plan, overwrite plan?</p>
</div>