﻿@model custom_study_plan_generator.Models.FileModel
@{
    
    
    ViewBag.Title = "SubmitPlan";
    
    
}

<div class="submitHeading">
    <h2 class="pagewideFont">SubmitPlan: <small>@ViewBag.studentid</small></h2>



    @using (Html.BeginForm("submitPlan", "Home", FormMethod.Post, new { id = "studentID" }))
    {
        @Html.LabelFor(model => model.Title, "Student ID: ", new { @class = "control-label col-md-3" })
        @Html.TextBoxFor( model => model.Title )// prompt for student id

                                            <div class="col-md-offset-2 col-md-10">
                                                <input type="submit" value="Submit" class="btn btn-default" />
                                            </div>
    }
</div>