﻿@Scripts.Render("~/Scripts/UnitPrerequisitesIndex.js")

@model IEnumerable<custom_study_plan_generator.Models.UnitPrerequisite>

@{
    ViewBag.Title = "Index";
}

<div class="prerequisitesIndexCRUDHeading">
    <h3 class="CRUDFont">Prerequisites List</h3>

    @if (Session["SaveDBError"] != null)
    {
        <div id="SaveDBError" class="error3">Error saving changes, please contact administrator.</div>
        Session["SaveDBError"] = null;
    }

    <p>
        @Html.ActionLink("Create New", "Create", null, null, new { @class = "prerequisitesCRUDLink CRUDFont" })
    </p>
</div>

<table class="table prerequisiteIndexCRUDTable">
    <tr>
        <th>
            Course Name
        </th>        
        <th>
            Multiple<br/>Prerequisites
        </th>
        <th>
            Unit Name
        </th>
        <th>
            Prerequisite Name
        </th>
        <th></th>
    </tr>

@foreach (var item in Model) {
    <tr class="prereqIndexCRUDRow">
        <td>
            @Html.DisplayFor(modelItem => item.Course.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.mutiple_required)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit1.name)
        </td>
        <td>
            @Html.DisplayFor(modelItem => item.Unit.name)
        </td>
        <td>
            @Html.ActionLink("Delete", "Delete", new { course_code = item.course_code, unit_code = item.unit_code, prereq_code = item.prereq_code }, new { @class = "prerequisitesCRUDLink CRUDFont prereqDelete" })
        </td>
    </tr>
}

</table>

<div id="dialog-confirm" title="Delete Prerequisite?">
    <p class ="dialogConfirm"><span class=" ui-icon ui-icon-alert" style="float:left; margin:0 7px 20px 0;"></span>This prerequisite will be removed from the selected plan. Are you sure?</pclass>
</div>
