﻿@model custom_study_plan_generator.Models.Unit

@{
    ViewBag.Title = "Delete";
}

<div class="prerequisitesIndexCRUDHeading">

    <h3 class="CRUDFont">Delete</h3>

    <h4 class="CRUDFont">Are you sure you want to delete this unit?</h4>
    <div>
        <h4>Unit</h4>
        <hr />
        <dl class="dl-horizontal">
            <dt class="CRUDFont prequisitecreatetitle">
                Unit Name
            </dt>

            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt class="CRUDFont prequisitecreatetitle">
                Semester 1
            </dt>

            <dd>
                @Html.DisplayFor(model => model.semester1)
            </dd>

            <dt class="CRUDFont prequisitecreatetitle">
                Semester 2
            </dt>

            <dd>
                @Html.DisplayFor(model => model.semester2)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input class="prerequisiteCRUDCreateButton CRUDFont btn btn-default"  type="submit" value="Delete" />
                
            </div>
            <div class="prerequisitesCRUDCreateBack">
                @Html.ActionLink("Back to List", "Index", null, null, new { @class = "prerequisitesCRUDLink CRUDFont" })
            </div>
        }
    </div>

</div>
