﻿@model IEnumerable<custom_study_plan_generator.Models.Unit>

@{
    ViewBag.Title = "Index";
}

<div class="prerequisitesIndexCRUDHeading">
    <h3 class="CRUDFont">Units List</h3>

    @if (Session["ForeignKeyConstraint"] != null)
    {
        <div id="FKConstraint" class="error3">Error, this unit already exists in courses or student plans, and cannot be deleted.</div>
        Session["ForeignKeyConstraint"] = null;
    }
    @if (Session["SaveDBError"] != null)
    {
        <div id="SaveDBError" class="error3">Error saving changes, please contact administrator.</div>
        Session["SaveDBError"] = null;
    }
    
    <p>
        @Html.ActionLink("Create New", "Create", null, null, new { @class = "prerequisitesCRUDLink CRUDFont" })
    </p>
</div>

<table class="table prerequisiteIndexCRUDTable">
    <tr>
        <th>
            Unit Code
        </th>
        <th>
            Unit Name
        </th>
        <th>
            Semester 1
        </th>
        <th>
            Semester 2
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class="prereqIndexCRUDRow">
            <td>
                @Html.DisplayFor(modelItem => item.unit_code)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester1)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.semester2)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.unit_code }, new { @class = "prerequisitesCRUDLink CRUDFont" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.unit_code }, new { @class = "prerequisitesCRUDLink CRUDFont" })
            </td>
        </tr>
    }

</table>

