﻿@font-face {
    font-family: Museo 300;
    src: url(~/Content/Fonts/Museo-300.ttf);
}

body {
    padding-top: 0px;
}

html body {
    margin: 0px;
}

.inline {
    display: inline-block;
}

.pagewideFont {
    font-family: Arial sans-serif;
    color: #242424;
    text-align: center;
}

.dialogConfirm {
    display: none;
}

.dialogOnly {
    display: none;
}

.rightAlign {
    text-align: right;
}

.header {
    height: 250px;
    background-color: #DCDCD6;
    padding-top: 35px; 
}

.pageTitle {
    width: 70%;
    height: 180px;
    background-color: #333333;
    margin-left: auto;
    margin-right: auto;
    color: white;
    text-align: center;
    line-height: 180px;
    font-family: 'Museo 300';
    font-size: 3vw;
}

.body {
    background-image: url("Images/background.png");
    height: calc(1350px - 50px);
    width: 100%;
    background-size: 100% 450px;
    padding-top: 50px;
    background-repeat: no-repeat;
    background-color: #DCDCD6;
}

.bodyBottom {
    height: 250px;
    background-color: #DCDCD6;
}

.footer {
    font-family: Arial, sans-serif;
    font-size: 1.2vw;
    font-weight: bold;
    color: #242424;
    background-color: #DCDCD6;
    padding-left: 2%;
    padding-top: 2%;
    padding-bottom: 2%;
}

.backerHome {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: white;
    min-height: 300px;
}

.backerCP {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: white;
}

.backerEdit {
    width: 75%;
    margin-left: auto;
    margin-right: auto;
    padding: 20px;
    background-color: white;
}

.textLogin {
    width: calc(100% - 160px);
    background-color: #F6F6F4;
    padding: 80px;
    padding-top: 40px;
    font-family: Arial sans-serif;
    font-size: 1.5vw;
    color: #242424;
    word-wrap: break-word;
    position: relative;
}

.textHome {
    width: calc(100% - 40px);
    min-height: calc(300px - 60px);
    background-color: #F6F6F4;
    padding: 20px;
    padding-top: 40px;
    font-family: Arial sans-serif;
    font-size: 1.5vw;
    color: #242424;
    word-wrap: break-word;
}

.textCP {
    width: calc(100% - 40px);
    background-color: #F6F6F4;
    padding: 20px;
    padding-top: 40px;
    font-family: Arial sans-serif;
    font-size: 1.5vw;
    color: #242424;
    word-wrap: break-word;
}

.textEdit {
    width: calc(100% - 40px);
    background-color: #F6F6F4;
    padding: 20px;
    padding-top: 40px;
    font-family: Arial sans-serif;
    font-size: 1.5vw;
    color: #242424;
    word-wrap: break-word;
}

.headingHome {
    width: 100%;
    text-align: center;
    font-size: 2vw;
    font-weight: bold;
}

.loginButton {
    width: 120px;
    height: 40px;
}

/* Temporary Login Button*/
.loginButtonTemp {
    width: 120px;
    height: 40px;
    margin-top: 5px;
}

/* Temporary Login button */
#socialLoginForm {
    text-align: center;
}

.homeInput {
    width: 120px;
    height: 40px;
}

.homeButton {
    font-weight: bold;
    font-size: 1.25vw;
    width: 40%;
    height: 7vh;
    cursor: pointer;
    text-align: center;
}

.homeButton2 {
    font-weight: bold;
    font-size: 1.25vw;
    width: 68%;
    height: 7vh;
    cursor: pointer;
    text-align: center;
}

.homeButton3 {
    font-weight: bold;
    font-size: 1.25vw;
    width: 68%;
    height: 7vh;
    cursor: pointer;
    text-align: center;
    margin-top: 2%;
}

.logoutButton {
    font-size: .8em;
    width: 80px;
    height: 30px;
    cursor: pointer;
}

.logoutForm {
    width: 80px;
    position: absolute;
    right: 10px;
    top: 10px;
}

#loginForm {
    position: absolute;
}

#tempButton {
    position: absolute;
}

#studentIdInput {
    height: 30px;
    width: 80%;
    text-align: left;
    padding: 1%;
    font-size: 1vw;
    margin-top: 5%;
}

#error3 {
    color: red;
    font-size: 1vw;
    display: none;
}

#error4 {
    color: red;
    font-size: 1vw;
}

.modeHolder {
    text-align: center;
}

.homeColumn1 {
    width: 23%;
    text-align: left;
    vertical-align: top;
}

.homeColumn2 {
    width: 44%;
    border-right: 1px solid #808080;
    text-align: left;
}

.homeColumn3 {
    width: 26%;
    text-align: right;
    vertical-align: top;
}

.homeRow2 {
    padding-top: 2%;
}

/*** ****************** ****/
/*       Plan Grid       */

.headingCP {
    font-size: 2vw;
    font-weight: bold;
}

.CPcol1 {
    width: 33%;
    position: relative;
    top: -30px;
}

.CPcol2 {
    width: 32%;
    text-align: center;
}

.CPcol3 {
    width: 33%;
    text-align: right;
    position: relative;
    top: -30px;
}

.CPdescription {
    font-size: 80%;
    width: 35%;
    margin-left: auto;
    margin-right: auto;
    padding-top: 10px;
}

.CPcol1desc {
    width: 29%;
    position: relative;
    top: -30px;
}

.CPcol2desc {
    width: 39%;
    text-align: center;
}

.CPcol3desc {
    width: 30%;
    text-align: right;
    position: relative;
    top: -30px;
}

.CPButton {
    font-size: .7em;
    width: 60%;
    height: 5vh;
    cursor: pointer;
    margin-top: 20px;
}

.CPButton2 {
    font-size: .7em;
    width: 60%;
    height: 5vh;
    cursor: pointer;
    margin-top: 5px;
}

.modifyButton {
    font-size: .7em;
    width: 15%;
    height: 5vh;
    cursor: pointer;
    margin-top: 5px;
}

.planTable {
    text-align: center;
}

.planHeader {
    width: 16%;
    height: 30px;
}

.inlineGrid {
    float: left;
}

.cell {
    width: 16%;
    /*height: 82px;*/
    height: 12vh;
}

.innerCell {
    position: relative;
    width: 90%;
    /*height: 70px;*/
    height: 10vh;
    margin-top: 5px;
    margin-left: 5%;
    -moz-border-radius: 10px;
    -webkit-border-radius: 10px;
    border-radius: 10px;
    border-top: 1px solid #797979;
    border-bottom: 1px solid #797979;
    border-left: 1px solid #797979;
    border-right: 1px solid #797979;
    font-size: .8vw;

    /* disable blue border caused by element click */
    -webkit-touch-callout: none;
    -webkit-user-select: none;
    -khtml-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
}

.active {
    cursor: pointer;
}

.headerPlanTable1 {
    border-top: 1px solid #797979;
    border-bottom: 1px solid #797979;
    border-left: 1px solid #797979;
    border-right: 1px solid #797979;
    font-size: 1vw;
    
    margin-left: 1%;
}

.headerPlanTable {
    border-top: 1px solid #797979;
    border-right: 1px solid #797979;
    border-bottom: 1px solid #797979;
    font-size: 1vw;
    
}

.col1 {
    border-top: 1px solid #797979;
    border-left: 1px solid #797979;
    border-right: 1px solid #797979;

    margin-left: 1%;
}

.col {
    border-top: 1px solid #797979;
    border-right: 1px solid #797979;
}

.row2 {
    clear: both;
}

.row3 {
    clear: both;
}

.row4 {
    clear: both;
}

.row5 {
    clear: both;
}

.lastRow {

    border-bottom: 1px solid #797979;
}

.marked {
    background-color: rgba(220, 20, 60, 0.5);
}

/* *************** MODIFY/EDIT PAGES ******************** */

.modifyAddUnit {
    text-align: right;
}

.swapSpaceHeader {
    text-align: center;
    font-size: 1.5vw;
    font-weight: bold;
    padding-top: 2%;
}

.swapSpaceHolder {
    text-align: right;
    padding-bottom: 2%;
}

/* ********** CRUD Pages ********** */

.CRUDFont {
    font-family: Arial sans-serif;
    color: #242424;
}

.text-danger {
    color: red !important;
}

/* UnitPrerequisite CRUD */
.table {
    margin-left: auto;
    margin-right: auto;
}

.CRUDHeadingHolder {
    margin-left: 10%;
    margin-right: 10%;
}

.error3 {
    color: red;
    font-size: 1vw;
}

#unitPrereqSame {
    color: red;
    font-size: 1vw;
    display: none;
}

#emptyLists {
    color: red;
    font-size: 1vw;
    display: none;
}

.prereqIndexCRUDRow td {
    border-bottom: 1px solid #ADADAD;
    font-family: Arial sans-serif;
    color: #242424;
}

.prerequisiteIndexCRUDTable th {
    border-bottom: 1px solid #ADADAD;
    font-family: Arial sans-serif;
    color: #242424;
}

.prerequisiteIndexCRUDTable {
    border-collapse: separate;
    border-spacing: 10px;
}

.prerequisitesIndexCRUDHeading {
    margin-left: 5%;
}

.submitHeading {
    padding-left: 5%;
    padding-bottom: 20px;
}

.prerequisitesCRUDLink {
    color: #2152F2;
}

.prequisiteCreateTitle {
    font-size: 1.5vw;
    font-weight: bold;
    color: #5D5D5D;
}

.prerequsiteCRUDCreateRow {
    padding-bottom: 1%;
    padding-top: 0.5%;
}

.prerequisiteCRUDCreateButton {
    font-weight: bold;
    font-size: 1.25vw;
    width: 10%;
    height: 5vh;
    cursor: pointer;
    text-align: center;
}

.prerequisitesCRUDCreateBack {
    padding-top: 1%;
    padding-bottom: 1%;
}

/* ******************************* */

th {
    text-align: left;
}

.errors {
    color: red;
    display: none;
    font-size: 1.2vw;
    padding-top: 2%;
}

/* ********* Icon indiciator styling ********** */

.exclamation {
    height: 35%;
    position: absolute;
    bottom: 5%;
    right: 5%;
}

.hover {
    height: 25%;
    position: absolute;
    bottom: 5%;
    left: 18%;
}

.hoverModify {
    height: 25%;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.delete {
    height: 25%;
    position: absolute;
    bottom: 5%;
    left: 5%;
}

.prevent {
    width: 40%;
    position: absolute;
    left: 30%;
    top: 4%;
    opacity: 0.75;
    display: none;
}

/* ********* TOOLTIPS ********** */

.tooltip{
    position:absolute;
    z-index:999;
    left:-9999px;
    background-color:#dedede;
    color:#fff;
    background-color:#222;
    padding:5px;
    border:1px solid #fff;
    width:250px;
}

.tooltip p{
    margin:0;
    padding:0;
    color:#fff;
    background-color:#222;
    padding:2px 7px;
}

/********** Styling for CRUD Pages ************* */

/* Create Page */
#submitSelect {
    display: none;
}



/*  styling for global nav bar  */



/* Grid HTML Classes */
.row {
  width: 100%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 0;
  margin-bottom: 0;
  max-width: 960px;
  /* changed specifically for myRMIT Designs */
  *zoom: 1;
}

.row:before, .row:after {
  content: " ";
  display: table;
}

.row:after {
  clear: both;
}

.row .column,
.row .columns {
  position: relative;
  padding-left: 0.9375em;
  padding-right: 0.9375em;
  width: 100%;
}

.row.collapse .column,
.row.collapse .columns {
  position: relative;
  padding-left: 0;
  padding-right: 0;
}

.row .row {
  width: auto;
  margin-left: -0.9375em;
  margin-right: -0.9375em;
  margin-top: 0;
  margin-bottom: 0;
  max-width: none;
  *zoom: 1;
}

.row .row:before, .row .row:after {
  content: " ";
  display: table;
}

.row .row:after {
  clear: both;
}

.row .row.collapse {
  width: auto;
  margin: 0;
  max-width: none;
  *zoom: 1;
}

.row .row.collapse:before, .row .row.collapse:after {
  content: " ";
  display: table;
}

.row .row.collapse:after {
  clear: both;
}

@media only screen {
  .row .column,
  .row .columns {
    position: relative;
    padding-left: 0.9375em;
    padding-right: 0.9375em;
    float: left;
  }

  .row .small-1 {
    position: relative;
    width: 8.33333%;
  }

  .row .small-2 {
    position: relative;
    width: 16.66667%;
  }

  .row .small-3 {
    position: relative;
    width: 25%;
  }

  .row .small-4 {
    position: relative;
    width: 33.33333%;
  }

  .row .small-5 {
    position: relative;
    width: 41.66667%;
  }

  .row .small-6 {
    position: relative;
    width: 50%;
  }

  .row .small-7 {
    position: relative;
    width: 58.33333%;
  }

  .row .small-8 {
    position: relative;
    width: 66.66667%;
  }

  .row .small-9 {
    position: relative;
    width: 75%;
  }

  .row .small-10 {
    position: relative;
    width: 83.33333%;
  }

  .row .small-11 {
    position: relative;
    width: 91.66667%;
  }

  .row .small-12 {
    position: relative;
    width: 100%;
  }

  .row .small-offset-1 {
    position: relative;
    margin-left: 8.33333%;
  }

  .row .small-offset-2 {
    position: relative;
    margin-left: 16.66667%;
  }

  .row .small-offset-3 {
    position: relative;
    margin-left: 25%;
  }

  .row .small-offset-4 {
    position: relative;
    margin-left: 33.33333%;
  }

  .row .small-offset-5 {
    position: relative;
    margin-left: 41.66667%;
  }

  .row .small-offset-6 {
    position: relative;
    margin-left: 50%;
  }

  .row .small-offset-7 {
    position: relative;
    margin-left: 58.33333%;
  }

  .row .small-offset-8 {
    position: relative;
    margin-left: 66.66667%;
  }

  .row .small-offset-9 {
    position: relative;
    margin-left: 75%;
  }

  .row .small-offset-10 {
    position: relative;
    margin-left: 83.33333%;
  }

  [class*="column"] + [class*="column"]:last-child {
    float: right;
  }

  [class*="column"] + [class*="column"].end {
    float: left;
  }

  .column.small-centered,
  .columns.small-centered {
    position: relative;
    margin-left: auto;
    margin-right: auto;
    float: none;
  }
}
/* Styles for screens that are atleast 768px; */
/*@media only screen and (min-width: 48em) {*/
.row .large-1 {
  position: relative;
  width: 8.33333%;
}

.row .large-2 {
  position: relative;
  width: 16.66667%;
}

.row .large-3 {
  position: relative;
  width: 25%;
}

.row .large-4 {
  position: relative;
  width: 33.33333%;
}

.row .large-5 {
  position: relative;
  width: 41.66667%;
}

.row .large-6 {
  position: relative;
  width: 50%;
}

.row .large-7 {
  position: relative;
  width: 58.33333%;
}

.row .large-8 {
  position: relative;
  width: 66.66667%;
}

.row .large-9 {
  position: relative;
  width: 75%;
}

.row .large-10 {
  position: relative;
  width: 83.33333%;
}

.row .large-11 {
  position: relative;
  width: 91.66667%;
}

.row .large-12 {
  position: relative;
  width: 100%;
}

.row .large-offset-1 {
  position: relative;
  margin-left: 8.33333%;
}

.row .large-offset-2 {
  position: relative;
  margin-left: 16.66667%;
}

.row .large-offset-3 {
  position: relative;
  margin-left: 25%;
}

.row .large-offset-4 {
  position: relative;
  margin-left: 33.33333%;
}

.row .large-offset-5 {
  position: relative;
  margin-left: 41.66667%;
}

.row .large-offset-6 {
  position: relative;
  margin-left: 50%;
}

.row .large-offset-7 {
  position: relative;
  margin-left: 58.33333%;
}

.row .large-offset-8 {
  position: relative;
  margin-left: 66.66667%;
}

.row .large-offset-9 {
  position: relative;
  margin-left: 75%;
}

.row .large-offset-10 {
  position: relative;
  margin-left: 83.33333%;
}

.push-2 {
  position: relative;
  left: 16.66667%;
  right: auto;
}

.pull-2 {
  position: relative;
  right: 16.66667%;
  left: auto;
}

.push-3 {
  position: relative;
  left: 25%;
  right: auto;
}

.pull-3 {
  position: relative;
  right: 25%;
  left: auto;
}

.push-4 {
  position: relative;
  left: 33.33333%;
  right: auto;
}

.pull-4 {
  position: relative;
  right: 33.33333%;
  left: auto;
}

.push-5 {
  position: relative;
  left: 41.66667%;
  right: auto;
}

.pull-5 {
  position: relative;
  right: 41.66667%;
  left: auto;
}

.push-6 {
  position: relative;
  left: 50%;
  right: auto;
}

.pull-6 {
  position: relative;
  right: 50%;
  left: auto;
}

.push-7 {
  position: relative;
  left: 58.33333%;
  right: auto;
}

.pull-7 {
  position: relative;
  right: 58.33333%;
  left: auto;
}

.push-8 {
  position: relative;
  left: 66.66667%;
  right: auto;
}

.pull-8 {
  position: relative;
  right: 66.66667%;
  left: auto;
}

.push-9 {
  position: relative;
  left: 75%;
  right: auto;
}

.pull-9 {
  position: relative;
  right: 75%;
  left: auto;
}

.push-10 {
  position: relative;
  left: 83.33333%;
  right: auto;
}

.pull-10 {
  position: relative;
  right: 83.33333%;
  left: auto;
}

.small-push-2 {
  left: inherit;
}

.small-pull-2 {
  right: inherit;
}

.small-push-3 {
  left: inherit;
}

.small-pull-3 {
  right: inherit;
}

.small-push-4 {
  left: inherit;
}

.small-pull-4 {
  right: inherit;
}

.small-push-5 {
  left: inherit;
}

.small-pull-5 {
  right: inherit;
}

.small-push-6 {
  left: inherit;
}

.small-pull-6 {
  right: inherit;
}

.small-push-7 {
  left: inherit;
}

.small-pull-7 {
  right: inherit;
}

.small-push-8 {
  left: inherit;
}

.small-pull-8 {
  right: inherit;
}

.small-push-9 {
  left: inherit;
}

.small-pull-9 {
  right: inherit;
}

.small-push-10 {
  left: inherit;
}

.small-pull-10 {
  right: inherit;
}

.column.large-centered,
.columns.large-centered {
  position: relative;
  margin-left: auto;
  margin-right: auto;
  float: none;
}

/* Default Link Styles */
a {
  color: #333333;
  text-decoration: none;
  line-height: inherit;
}

a:hover, a:focus {
  color: #A70004;
}

a img {
  border: none;
}

/* Default paragraph styles */
p {
  font-family: inherit;
  font-weight: normal;
  font-size: 1em;
  line-height: 1.4;
  margin-bottom: 1.25em;
}

p aside {
  font-size: 0.875em;
  line-height: 1.35;
  font-style: italic;
}

/* Default header styles */
h1, h2, h3, h4, h5, h6 {
  font-family: "Helvetica Neue", "Helvetica", Helvetica, Arial, sans-serif;
  font-weight: bold;
  font-style: normal;
  color: #333333;
  text-rendering: optimizeLegibility;
  margin-top: 0.2em;
  margin-bottom: 0.5em;
  line-height: 1.2125em;
}

h1 small, h2 small, h3 small, h4 small, h5 small, h6 small {
  font-size: 60%;
  color: #6f6f6f;
  line-height: 0;
}

h1 {
  font-size: 2.125em;
}

h2 {
  font-size: 1.6875em;
}

h3 {
  font-size: 1.375em;
}

h4 {
  font-size: 1.125em;
}

h5 {
  font-size: 1.125em;
}

h6 {
  font-size: 1em;
}

hr {
  border: solid #dddddd;
  border-width: 1px 0 0;
  clear: both;
  margin: 1.25em 0 1.1875em;
  height: 0;
}

/* Helpful Typography Defaults */
em,
i {
  font-style: italic;
  line-height: inherit;
}

strong,
b {
  font-weight: bold;
  line-height: inherit;
}

small {
  font-size: 60%;
  line-height: inherit;
}

code {
  font-family: Consolas, "Liberation Mono", Courier, monospace;
  font-weight: bold;
  color: #7f0a0c;
}

/* Lists */
ul,
ol,
dl {
  font-size: 1em;
  line-height: 1.6;
  margin-bottom: 1.25em;
  list-style-position: outside;
  font-family: inherit;
}

/* Unordered Lists */
ul li ul,
ul li ol {
  margin-left: 1.125em;
  margin-bottom: 0;
  font-size: 1em;
  /* Override nested font-size change */
}

ul.square, ul.circle, ul.disc {
  margin-left: 1.125em;
}

ul.square li ul, ul.circle li ul, ul.disc li ul {
  list-style: inherit;
}

ul.square {
  list-style-type: square;
}

ul.circle {
  list-style-type: circle;
}

ul.disc {
  list-style-type: disc;
}

ul.no-bullet {
  list-style: none;
}

/* Ordered Lists */
ol {
  margin-left: 1.125em;
}

ol li ul,
ol li ol {
  margin-left: 1.125em;
  margin-bottom: 0;
}

/* Definition Lists */
dl dt {
  margin-bottom: 0.3em;
  font-weight: bold;
}

dl dd {
  margin-bottom: 0.75em;
}

/* Abbreviations */
abbr,
acronym {
  text-transform: uppercase;
  /*font-size: 90%;
  color: #222222;
  border-bottom: 1px dotted #dddddd;*/
  cursor: help;
}

abbr {
  text-transform: none;
}

abbr[title] {
  border-bottom: none;
}

/* Blockquotes */
blockquote {
  margin: 0 0 1.25em;
  padding: 0.5625em 1.25em 0 1.1875em;
  border-left: 1px solid #dddddd;
}

blockquote cite {
  display: block;
  font-size: 0.8125em;
  color: #555555;
}

blockquote cite:before {
  content: "\2014 \0020";
}

blockquote cite a,
blockquote cite a:visited {
  color: #555555;
}

blockquote,
blockquote p {
  line-height: 1.6;
  color: #6f6f6f;
}

/* Microformats */
.vcard {
  display: inline-block;
  margin: 0 0 1.25em 0;
  border: 1px solid #dddddd;
  padding: 0.625em 0.75em;
}

.vcard li {
  margin: 0;
  display: block;
}

.vcard .fn {
  font-weight: bold;
  font-size: 0.9375em;
}

.vevent .summary {
  font-weight: bold;
}

.vevent abbr {
  cursor: default;
  text-decoration: none;
  font-weight: bold;
  border: none;
  padding: 0 0.0625em;
}

@media only screen and (min-width: 48em) {
  h1, h2, h3, h4, h5, h6 {
    line-height: 1.4;
  }

  h1 {
    font-size: 2.75em;
  }

  h2 {
    font-size: 2.3125em;
  }

  h3 {
    font-size: 1.6875em;
  }

  h4 {
    font-size: 1.4375em;
  }
}
/*
 * Print styles.
 *
 * Inlined to avoid required HTTP connection: www.phpied.com/delay-loading-your-print-css/
 * Credit to Paul Irish and HTML5 Boilerplate (html5boilerplate.com)
*/
.print-only {
  display: none !important;
}

@media print {
  * {
    background: transparent !important;
    color: black !important;
    /* Black prints faster: h5bp.com/s */
    box-shadow: none !important;
    text-shadow: none !important;
  }

  a,
  a:visited {
    text-decoration: underline;
  }

  a[href]:after {
    content: " (" attr(href) ")";
  }

  abbr[title]:after {
    content: " (" attr(title) ")";
  }

  .ir a:after,
  a[href^="javascript:"]:after,
  a[href^="#"]:after {
    content: "";
  }

  pre,
  blockquote {
    border: 1px solid #999999;
    page-break-inside: avoid;
  }

  thead {
    display: table-header-group;
    /* h5bp.com/t */
  }

  tr,
  img {
    page-break-inside: avoid;
  }

  img {
    max-width: 100% !important;
  }

  @page {
    margin: 0.5cm;
}

  p,
  h2,
  h3 {
    orphans: 3;
    widows: 3;
  }

  h2,
  h3 {
    page-break-after: avoid;
  }

  .hide-on-print {
    display: none !important;
  }

  .print-only {
    display: block !important;
  }

  .hide-for-print {
    display: none !important;
  }

  .show-for-print {
    display: inherit !important;
  }
  .timetable-padding .external-link{ display:none; }  

  
}
.button {
  border-style: solid;
  border-width: 1px;
  cursor: pointer;
  font-family: inherit;
  font-weight: bold;
  line-height: 1;
  margin: 0 0 1.25em;
  position: relative;
  text-decoration: none;
  text-align: center;
  display: inline-block;
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  background-color: #333333;
  border-color: #2284a1;
  color: white;
}

.button:hover, .button:focus {
  background-color: #2284a1;
}

.button:hover, .button:focus {
  color: white;
}

.button.secondary {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: #333333;
}

.button.secondary:hover, .button.secondary:focus {
  background-color: #d0d0d0;
}

.button.secondary:hover, .button.secondary:focus {
  color: #333333;
}

.button.success {
  background-color: #5da423;
  border-color: #457a1a;
  color: white;
}

.button.success:hover, .button.success:focus {
  background-color: #457a1a;
}

.button.success:hover, .button.success:focus {
  color: white;
}

.button.alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: white;
}

.button.alert:hover, .button.alert:focus {
  background-color: #970b0e;
}

.button.alert:hover, .button.alert:focus {
  color: white;
}

.button.large {
  padding-top: 1em;
  padding-right: 2em;
  padding-bottom: 1.0625em;
  padding-left: 2em;
  font-size: 1.25em;
}

.button.small {
  padding-top: 0.5625em;
  padding-right: 1.125em;
  padding-bottom: 0.625em;
  padding-left: 1.125em;
  font-size: 0.8125em;
}

.button.tiny {
  padding-top: 0.4375em;
  padding-right: 0.875em;
  padding-bottom: 0.5em;
  padding-left: 0.875em;
  font-size: 0.6875em;
}

.button.expand {
  padding-top: 0.75em;
  padding-right: 1.5em;
  padding-bottom: 0.8125em;
  padding-left: 1.5em;
  font-size: 1em;
  padding-top: 0.75em;
  padding-right: 0px;
  padding-bottom: 0.8125em;
  padding-left: 0px;
  width: 100%;
}

.button.left-align {
  text-align: left;
  text-indent: 0.75em;
}

.button.right-align {
  text-align: right;
  padding-right: 0.75em;
}

.button.disabled, .button[disabled] {
  background-color: #333333;
  border-color: #2284a1;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #2284a1;
}

.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  color: white;
}

.button.disabled:hover, .button.disabled:focus, .button[disabled]:hover, .button[disabled]:focus {
  background-color: #333333;
}

.button.disabled.secondary, .button[disabled].secondary {
  background-color: #e9e9e9;
  border-color: #d0d0d0;
  color: #333333;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #d0d0d0;
}

.button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  color: #333333;
}

.button.disabled.secondary:hover, .button.disabled.secondary:focus, .button[disabled].secondary:hover, .button[disabled].secondary:focus {
  background-color: #e9e9e9;
}

.button.disabled.success, .button[disabled].success {
  background-color: #5da423;
  border-color: #457a1a;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #457a1a;
}

.button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  color: white;
}

.button.disabled.success:hover, .button.disabled.success:focus, .button[disabled].success:hover, .button[disabled].success:focus {
  background-color: #5da423;
}

.button.disabled.alert, .button[disabled].alert {
  background-color: #c60f13;
  border-color: #970b0e;
  color: white;
  cursor: default;
  opacity: 0.6;
  -webkit-box-shadow: none;
  box-shadow: none;
}

.button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #970b0e;
}

.button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  color: white;
}

.button.disabled.alert:hover, .button.disabled.alert:focus, .button[disabled].alert:hover, .button[disabled].alert:focus {
  background-color: #c60f13;
}

input.button,
button.button {
  padding-top: 0.8125em;
  padding-bottom: 0.75em;
}

input.button.tiny,
button.button.tiny {
  padding-top: 0.5em;
  padding-bottom: 0.4375em;
}

input.button.small,
button.button.small {
  padding-top: 0.625em;
  padding-bottom: 0.5625em;
}

input.button.large,
button.button.large {
  padding-top: 1.03125em;
  padding-bottom: 1.03125em;
}

@media only screen {
  .button {
    -webkit-box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    box-shadow: 0 1px 0 rgba(255, 255, 255, 0.5) inset;
    -webkit-transition: background-color 300ms ease-out;
    -moz-transition: background-color 300ms ease-out;
    transition: background-color 300ms ease-out;
  }

  .button:active {
    -webkit-box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
    box-shadow: 0 1px 0 rgba(0, 0, 0, 0.2) inset;
  }

  .button.radius {
    -webkit-border-radius: 3px;
    border-radius: 3px;
  }

  .button.round {
    -webkit-border-radius: 1000px;
    border-radius: 1000px;
  }
}
@media only screen and (min-width: 48em) {
  .button {
    display: inline-block;
  }
}



/* fix for desktop site being unreadable in iphone */
div.global,  .row{ min-width: 768px; }

/*============================
Global Header
============================*/
.global {
  /*@include tight;*/
  z-index: 9999;
  height: 40px;
  margin-bottom: 15px;
  background-color: #333333;
  color: #dcdcd6;
  text-transform: uppercase;
}
.global a {
  text-decoration: none;
  /* reset default link behaviour */
  color: #dcdcd6;
  padding-right: 10px;
  padding-left: 10px;
}
.global a:hover {
  color:#ffffff;
  text-decoration:underline;
}

.global li.first > a {
  padding-left: 0;
}
.global li.last > a {
  
  padding-right: 0;
}
.global nav ul ul {
  display: none;
}
.global nav ul li:hover > ul {
  display: block;
}
.global nav ul {
  list-style: none;
  position: relative;
  display: inline-table;
  margin: 0;
  padding: 0;
}
.global nav ul:after {
  content: "";
  clear: both;
  display: block;
}
.global nav ul li {
  font-size: 0.8em;
  font-weight: bold;
  float: left;
  height: 35px;
  padding-top: 6px;
  margin-top: 5px;
}
.global nav ul li li {
  font-size: 1em;
  padding-top: 10px;
  height: 40px;
  min-width:132px;
}
.global nav ul li li a {display:block;}

.global nav ul ul {
  position: absolute;
  z-index: 9999;
  top: 100%;
  left: 0;
  background-color: #333333;
}
.global nav ul ul li {
  float: none;
  position: relative;
}
.global nav.user-nav {
  
    text-align: right;
  
}


.global .with-divider {
  border-left: 1px solid #525250;
}

.global-nav {
  position: absolute;
  z-index: 9999;
   
}
.global-nav li.active {
  background-color: #dcdcd6;
}
.global-nav li.active a {
  color: #242424;
}

.user-icon-spacer {display: inline-block; width: 5px;}

.header-links a.skip-to-content, .header-links a.skip-to-content:hover, .header-links a.skip-to-content:visited {
  background-color: #333333;
  padding: 5px 8px;
  margin-right: 15px;
  color: white;
  position: absolute;
  left: 0px;
  top: -500px;
  width: 1px;
  height: 1px;
  overflow: hidden;
}

.header-links a.skip-to-content:active, .header-links a.skip-to-content:focus {
  color: white;
  position: static;
  width: auto;
  height: auto;
}




/* Styles for screens that are atleast 768px; */
/*@media only screen and (min-width: 48em) {*/
.row .large-1 {
  position: relative;
  width: 8.33333%;
}

.row .large-2 {
  position: relative;
  width: 16.66667%;
}

.row .large-3 {
  position: relative;
  width: 25%;
}

.row .large-4 {
  position: relative;
  width: 33.33333%;
}

.row .large-5 {
  position: relative;
  width: 41.66667%;
}

.row .large-6 {
  position: relative;
  width: 50%;
}

.row .large-7 {
  position: relative;
  width: 58.33333%;
}

.row .large-8 {
  position: relative;
  width: 66.66667%;
}

.row .large-9 {
  position: relative;
  width: 75%;
}

.row .large-10 {
  position: relative;
  width: 83.33333%;
}

.row .large-11 {
  position: relative;
  width: 91.66667%;
}

.row .large-12 {
  position: relative;
  width: 100%;
}

.row .large-offset-1 {
  position: relative;
  margin-left: 8.33333%;
}

.row .large-offset-2 {
  position: relative;
  margin-left: 16.66667%;
}

.row .large-offset-3 {
  position: relative;
  margin-left: 25%;
}

.row .large-offset-4 {
  position: relative;
  margin-left: 33.33333%;
}

.row .large-offset-5 {
  position: relative;
  margin-left: 41.66667%;
}

.row .large-offset-6 {
  position: relative;
  margin-left: 50%;
}

.row .large-offset-7 {
  position: relative;
  margin-left: 58.33333%;
}

.row .large-offset-8 {
  position: relative;
  margin-left: 66.66667%;
}

.row .large-offset-9 {
  position: relative;
  margin-left: 75%;
}

.row .large-offset-10 {
  position: relative;
  margin-left: 83.33333%;
}