﻿@using Microsoft.AspNet.Identity;
<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Custom Study Plan Generator</title>
    @Styles.Render("~/Content/Custom.css")
    @Scripts.Render("~/bundles/modernizr")
    @RenderSection("Scripts", required: false)
    @Scripts.Render("~/Scripts/jquery-2.1.4.min.js")
    @Styles.Render("~/Scripts/jquery-ui-1.11.4.custom/jquery-ui.theme.min.css")
    @Scripts.Render("//code.jquery.com/ui/1.11.4/jquery-ui.js")
    @Scripts.Render("~/Scripts/Layout.js")
  
</head>
<body>
    <div class="navbar navbar-inverse navbar-fixed-top">
        <div class="container">
            <div class="global">
                <div class="row">
                    <div class="large-6 columns">
                        <nav class="global-nav" role="navigation" aria-label="Global navigation">
                            <ul>

                                <li class="first">@Html.ActionLink("Home", "Index", "Home")<span class="icon arrow-down-light-grey"></span></li>
                                <li>@Html.ActionLink("View Drive", "driveAsync", "Home")</li>
                                <li>@Html.ActionLink("Upload to Drive", "submitPlan", "Home", new { id = "submitPlan"})</li>
                            </ul>

                        </nav>
                    </div>


                    <div class="large-6 columns">
                        <nav class="user-nav">

                            <ul>
                                @Html.Partial("_LoginPartial")
                            </ul>

                        </nav>
                    </div>

                </div><!-- /.row -->
            </div><!-- /.global -->
        </div>
    </div>

   <!--<div id="dialog" title="Upload to Drive  ">
        <p class="dialogOnly">You must create or edit a plan, then save it before using the upload to drive feature.</p>
    </div>  -->

    <header id="header" class="header">
        <div class="pageTitle">
            Custom Study Plan Generator
        </div>
    </header>


    @RenderBody()
    <footer id="footer" class="footer">
        <div>&copy; @DateTime.Now.Year - Custom Study Plan Generator</div>
    </footer>



      @{
        // if (TempData["msg"] != null && TempData["msg"].ToString() == "false")
        //  {
        //      @Scripts.Render("~/bundles/Unauth");
        //  }

    }


  
</body>

</html>
