﻿@model custom_study_plan_generator.Models.Course

@{
    ViewBag.Title = "Delete";
}

<div class="prerequisitesIndexCRUDHeading">

    <h2>Delete</h2>

    <h3>Are you sure you want to delete this Course?</h3>
    <div>
        <h4 class="CRUDFont">Course</h4>
        <hr />
        <dl class="dl-horizontal">
            
            <dt class="CRUDFont prequisitecreatetitle">
                Course Name
            </dt>
            <dd>
                @Html.DisplayFor(model => model.name)
            </dd>

            <dt class="CRUDFont prequisitecreatetitle">
                Number of Units
            </dt>
            <dd>
                @Html.DisplayFor(model => model.num_units)
            </dd>

            <dt class="CRUDFont prequisitecreatetitle">
                Maximum Credit
            </dt>

            <dd>
                @Html.DisplayFor(model => model.max_credit)
            </dd>

        </dl>

        @using (Html.BeginForm())
        {
            @Html.AntiForgeryToken()

            <div class="form-actions no-color">
                <input class="prerequisiteCRUDCreateButton CRUDFont btn btn-default" type="submit" value="Delete" />
            </div>
            <div class="prerequisitesCRUDCreateBack">
                @Html.ActionLink("Back to List", "Index", null, null, new { @class = "prerequisitesCRUDLink CRUDFont" })
            </div>
        }
    </div>
</div>
