﻿@model custom_study_plan_generator.MetaObjects.CourseMeta
@{
    ViewBag.Title = "Edit";
}

<div class="prerequisitesIndexCRUDHeading">

    <h3 class="CRUDFont">Edit</h3>

    @using (Html.BeginForm())
    {
        @Html.AntiForgeryToken()

        <div class="form-horizontal">
            <h4 class="CRUDFont">Course</h4>
            <hr />
            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
            @Html.HiddenFor(model => model.course_code)

            <div class="form-group">
                @Html.LabelFor(model => model.name, "Course Name", htmlAttributes: new { @class = "control-label col-md-2 CRUDFont prequisiteCreateTitle" })
                <div class="col-md-10 prerequsiteCRUDCreateRow">
                    @Html.EditorFor(model => model.name, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.name, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.num_units, "Number of Units", htmlAttributes: new { @class = "control-label col-md-2 CRUDFont prequisiteCreateTitle" })
                <div class="col-md-10 prerequsiteCRUDCreateRow">
                    @Html.EditorFor(model => model.num_units, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.num_units, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                @Html.LabelFor(model => model.max_credit, "Maximum Exemptions", htmlAttributes: new { @class = "control-label col-md-2 CRUDFont prequisiteCreateTitle" })
                <div class="col-md-10 prerequsiteCRUDCreateRow">
                    @Html.EditorFor(model => model.max_credit, new { htmlAttributes = new { @class = "form-control" } })
                    @Html.ValidationMessageFor(model => model.max_credit, "", new { @class = "text-danger" })
                </div>
            </div>

            <div class="form-group">
                <div class="col-md-offset-2 col-md-10">
                    <input class="prerequisiteCRUDCreateButton CRUDFont btn btn-default"  type="submit" value="Save" />
                </div>
            </div>
        </div>
    }

    <div class="prerequisitesCRUDCreateBack">
        @Html.ActionLink("Back to List", "Index", null, null, new { @class = "prerequisitesCRUDLink CRUDFont" })
    </div>
</div>
