﻿@Scripts.Render("~/Scripts/CourseIndex.js")
@model IEnumerable<custom_study_plan_generator.Models.Course>

@{
    ViewBag.Title = "Index";
}

<div class="prerequisitesIndexCRUDHeading">
    <h3 class="CRUDFont">CourseList</h3>

    @if (Session["ForeignKeyConstraint"] != null)
    {
        <div id="FKConstraint" class="error3">Error, this course already contains units, or is used in a student plan, and cannot be deleted.</div>
        Session["ForeignKeyConstraint"] = null;
    }
    @if (Session["SaveDBError"] != null)
    {
        <div id="SaveDBError" class="error3">Error saving changes, please contact administrator.</div>
        Session["SaveDBError"] = null;
    }

    <p>
        @Html.ActionLink("Create New", "Create", null, null, new { @class = "prerequisitesCRUDLink CRUDFont" })
    </p>

</div>

<table class="table prerequisiteIndexCRUDTable">
    <tr>
        <th>
            Course Code
        </th>
        <th>
            Course Name
        </th>
        <th>
            Number of Units
        </th>
        <th>
            Maximum Exemptions
        </th>
        <th></th>
    </tr>

    @foreach (var item in Model)
    {
        <tr class ="prereqIndexCRUDRow">
            <td>
                @Html.DisplayFor(modelItem => item.course_code)
            </td>                
            <td>
                @Html.DisplayFor(modelItem => item.name)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.num_units)
            </td>
            <td>
                @Html.DisplayFor(modelItem => item.max_credit)
            </td>
            <td>
                @Html.ActionLink("Edit", "Edit", new { id = item.course_code }, new { @class = "prerequisitesCRUDLink CRUDFont" }) |
                @Html.ActionLink("Delete", "Delete", new { id = item.course_code }, new { @class = "prerequisitesCRUDLink CRUDFont studentDelete" })
            </td>
        </tr>
    }

</table>


